@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Trocchi&display=swap');

:root {
    --stone-50: #fafaf9;
    --stone-100: #f5f5f4;
    --stone-200: #e7e5e4;
    --stone-300: #d6d3d1;
    --stone-400: #a8a29e;
    --stone-500: #78716c;
    --stone-600: #57534e;
    --stone-700: #44403c;
    --stone-800: #292524;
    --stone-900: #1c1917;
    --stone-950: #0c0a09;
    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;
    --emerald-50: #ecfdf5;
    --emerald-100: #d1fae5;
    --emerald-200: #a7f3d0;
    --emerald-300: #6ee7b7;
    --emerald-400: #34d399;
    --emerald-500: #10b981;
    --emerald-600: #059669;
    --emerald-700: #047857;
    --emerald-800: #065f46;
    --emerald-900: #064e3b;
    --emerald-950: #022c22;
}

body {
    font-family: 'Trocchi', 'Lora', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--stone-100);
    background: var(--stone-950);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    min-height: 100vh;
}

header {
    background: var(--red-900);
    padding: 0.7rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background: var(--stone-800);
}

.sidebar-title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.project {
    padding: 0.2rem 0.5rem;
}

.add-project-title {
    text-align: center;
}

.divider {
    border-top: 1px var(--stone-200) solid;
    margin: 0.5rem;
}

#active {
    background: var(--stone-700);
}

#input-active {
    visibility: hidden;
}

input {
    color: var(--stone-100);
    background: var(--stone-700);
    border: none;
    border-radius: 15px;
}

.btn {
    text-align: center;
}

.btn:hover {
    background: var(--stone-700);
    cursor: pointer;
}

#plus-icon {
    color: var(--red-600)
}

.todo {
    background: var(--stone-900);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red-900);
}

.author-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

a > img {
    width: 3rem;
}